
@{
    ViewData["Title"] = "Index";
}
@model UserPosts.Site.Models.UserPostCountDataViewModel
@{
    var title = "Alert Detail";
    ViewData["Title"] = title;
}

<div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>UserName</th>
                    <th>PostCount</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NameUserNamePosts)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.UserName</td>
                    <td>@item.PostCount</td>
                    <td><a class="btn btn-outline-info" asp-controller="UserPosts" asp-action="Detail" asp-route-userId="@item.UserId">View Details</a></td>
                </tr>
                }
            </tbody>
        </table>
</div>